
@media only screen and (max-width: 1350px) {
    .blackPar{
    input[type=search]{
    width:140px;
    z-index: -1;
    }
    #multiple-select-box{
    width: 170px;
    }

    .civil{
    img{
    width: 160px;
    position: relative;
    top: 5px;
    }
    }

    }
}

@media only screen and (max-width:1199px) {
 .backer{
 width: 100%;
 margin-top: 0px;
 }
 }

@media only screen and (max-width: 1202px) {
 #multiple-select-box{
    width: 160px;
    }
     #single-select-box{
    width: 170px;
    }
	.sakrij{
	display:none;
	}
	.filter {
    display: inline;
    position: relative; 
    top:20px;
    z-index: 2;
.padLista {
  width: 140px;
  height: auto;
  position: absolute;
  top: 40px;
  font-family: opensans;
  font-size: 14px;
  box-shadow: 2px 1px 10px #888888;
  padding: 14px;
  background-color: white; 
	
	a {
  line-height: 27px;
  display: block;
  font-family: opensans;
  font-size: 14px; }}}
}

@media only screen and (max-width:991px) {
 .filter{
 position: relative;
 right: 10px;
 .padLista{
 position: absolute;
  top: 40px;
  right:5px;
 }
 }

 .blackPar{
 .civil{
 img{
 position: absolute;
 right: 4px;
 }
 }
 }
}
@media only screen and (max-width:748px){
 .civil{
 img{
 display:none;
 }
 }
 }

 @media only screen and (max-width: 729px){
 	.goDo{
 	margin-top: 0px;
 	}
 	.back{
 	width: 100%;
 	}
 }

 @media only screen and (min-height: 1258px){
 	.footer{
 	position: fixed;
 	bottom: 0px;
 	}
 }

 @media only screen and (min-height: 900px) and (min-width: 1200px) {
  .footer{
  position: fixed;
  bottom: 0px;
  }
 }