
*{
	margin: 0;
}
body{	
	height: 100%;
}





$lightBlue:#6CDAFF; 

.footer{
	width: 100%;
	background-color: black;
	height: 55px;
	float: left;


    p{
    margin-top: 20px;
    }
}

.footer::after{
content: "";
display: block;
}

.blue{
color: $lightBlue;
}
